<form action="/forums/<%=@cat.slug%>/<%=@post.id%>/replies/<%=@reply.id%>" method="POST">
<input type="hidden" value="PATCH" name="_method"/>
<textarea name="reply[message]"><%=@reply.message%></textarea>
<input type="submit" value="Update Reply"/>
</form>
<a href="/forums/<%=@cat.slug%>/<%=@post.id%>/replies/<%=@reply.id%>/delete">Delete Reply</a>
