<% if logged_in %>
<div class="credentials">
<h3>Update <%=@user.username%></h3>
<form action="/users/<%=@user.id%>" method="POST">
<input type="hidden" value="PATCH" name="_method"/>
<input class="credentials" type="text" name="user[username]" placeholder="Username"/>
<input class="credentials" type="password" name="user[password]" placeholder="Current Password" required/><br>
<input class="credentials_submit" type="submit" value="Update <%=@user.username%>"/>
</form>
<form action="/delete" method="POST">
<input type="hidden" value="GET" name="_method"/>
<input type="hidden" value="<%=@user.id%>" name="user[id]"/>
<input class="credentials_submit" id="delete_button" type="submit" value="Delete <%=@user.username%>"/>
</form>
</div>
<% end %>