<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/posts/show.css">
</head>
<% if logged_in? %>
<div id="edit_button">
<a href="/posts/<%=@post.id%>/edit">Edit Post</a>
</div>
</form>
<% end %>
<h1 id="show_post_title"><%=@post.title%></h1>
<div class="post_box">
<p id="show_post_content"><%=@post.content%></p>
</div>
<a href="/posts/<%=@post.id%>/reply">New Reply</a>
<% if @replies %>
  <% @replies.each do | reply | %>
    <div class="reply_box">
      <p class="reply reply_timestamp"><%=reply.created_at.localtime.ctime%></p>
      <p class="reply reply_user"> <a href="/replies/<%=reply.id%>">Reply</a> from <a href="/users/<%=current_user.id%>"><%=username(reply.user_id)%></a></p>
      <p class="reply reply_message"><%=reply.message%></p>
    </div>
  <% end %>
<% end %>